.carre_1{
  width: 222px;
  height: 100px;
  background-color: #da9795;
  border: 3px solid #355d8b;

}

.carre_2{
  width: 100px;
  height: 100px;
  background-color: #c5be98;
  margin-top : 5px;
  border: 3px solid #355d8b;
    float:left;
}

.carre_3{
  width: 100px;
  height: 100px;
  background-color: #548fd6;
  margin-top: 5px;
  border: 3px solid #355d8b;
  position: absolute;
  left: 130px;

}
