.carre_1{
  width: 100px;
  height: 100px;
  background-color: #da9795;
  border: 3px solid #355d8b;
  margin-top: 10px;
  margin-left: 10px;
}

.carre_2{
  width: 100px;
  height: 100px;
  background-color: #c5be98;
  border: 3px solid #355d8b;
  position: absolute;
  left: 120px ;
  top: 113px;
}

.carre_3{
  width: 100px;
  height: 100px;
  background-color: #548fd6;
  border: 3px solid #355d8b;
  position: absolute;
  left: 223px ;
  top : 216px;
}
