
header{
  height: 150px;
  background-color: #548fd6;
  border: 5px solid #43688c;
  margin-left : auto;
 margin-right: auto;

}

.container{
 display: flex;
 margin-left: auto;
 margin-right: auto;


}
.section0{
  height: 100px;
  background-color: #c4bd97;
    border: 5px solid #43688c;
  margin-left : auto;
 margin-right: auto;
  margin-top: 20px;
}

.section1{
  height: 230px;
  border: 5px solid #43688c;
  background-color: #c7daf1;
  margin-top: 20px;
  margin-right: 20px;
  flex: 1;
}

.section2{
  height: 230px;
  border: 5px solid #43688c;
  background-color: #e7bab9;
  margin-top: 20px;
  margin-right: 20px;
  flex: 1;
}


.section3{
  height: 230px;
  border: 5px solid #43688c;
  background-color: #C4D79C;
  margin-top: 20px;
  margin-right: 20px;
  flex: 1;
}


.section4{
  height: 230px;
  border: 5px solid #43688c;
  background-color: #fac191;
  margin-top: 20px;
  flex: 1;
}

.section5{
  height: 205px;
  flex: 1;
  border: 5px solid #43688c;
  background-color: #00b0ef;
  margin-right: 20px;
  margin-top: 20px;
}

.section6{
  height: 205px;
  flex : 1;
  border: 5px solid #43688c;
  background-color: #00b0ef;
  margin-top: 20px;
}

footer{
  height: 150px;
  background-color: #b3a3c7;
  border: 5px solid #43688c;
  margin-top: 20px;
  margin-left : auto;
  margin-right: auto;
}

@media all and (max-width: 500px) {
  header{
    height: 60px;
  }

  .section0{
    height: 60px;
  }

.container{
  display: grid;
  grid-template-areas:
   "a"
   "b"
   "c"
   "d"
   "e"
   "f";
/*   grid-template-columns: 1fr;*/
}
  .section1{
    height: 60px;
  grid-area: a;
  margin-right: 0px;
  }

  .section2{
    height: 60px;
    grid-area: b;
    margin-right: 0px;

  }

  .section3{
    height: 60px;
  grid-area: c;
  margin-right: 0px;
  }

  .section4{
    height: 60px;
  grid-area: d;
  }

  .section5{
    height: 60px;
  grid-area: e;
  margin-right: 0px;
  }

  .section6{
    height: 60px;
  grid-area: f;
  }

  footer{
    height: 60px;

  }
}

@media all and (max-width: 900px) and (min-width: 501px) {

.container{
  display: grid;
  grid-template-areas:
  "a b"
  "c d"
  "e e"
  "f f";
grid-column-gap: 15px;
}
  .section0{
    height: 150px;

  }
  .section1{
    height: 150px;
    margin-right: 0px;
    grid-area: a;

  }
  .section2{
    height: 150px;
    margin-right: 0px;
    grid-area: b;

  }

  .section3{
    height: 150px;
    grid-area: c;
    margin-right: 0px;

  }

  .section4{
    height: 150px;
grid-area: d;
margin-right: 0px;
  }

  .section5{
    height: 150px;
grid-area: e;
margin-right: 0px;
  }

  .section6{
    height: 150px;
    grid-area: f;
  }

  footer{
    height: 150px;

  }
}
